@font-face {
   font-family:'SMB';
   src:local('Super Mario Bros.'),
        url('../fonts/Super Mario Bros.ttf') format('truetype');
   font-style:normal;
}
#game {
	height:480px;
	width:640px;
	position:absolute; 
	left:50%; 
	top:50%;
	margin-left:-321px;
	margin-top:-241px;
	border:1px solid #ccc; 
	overflow:hidden;
}
#scene, #info, #figure, #home{ 
	margin:0; 
	padding:0;
	height:100%;
	width:100%; 
	position:absolute;
	bottom:0;
	left:0;
}
#home {
	z-index:4;
	background:url('../images/backgrounds/00.jpg');
}
#scene { 
	z-index:0;
}
#figure { 
	z-index:1;
}
#info {
	z-index:2;
}
#pause, #settings, #exit{
	position:absolute;
	top:30px;
	width:32px;
	height:32px;
	background:transparent;
	z-index:3;
}
#enter, #continue {
	position:absolute;
	top:300px;
	right:200px;
	width:64px;
	height:32px;
	z-index:5;
}
#continue {
	position:absolute;
	top:300px;
	right:100px;
	width:64px;
	height:32px;
	z-index:5;
}
#pause {
	right:110px;
}
#settings {
	right:70px;
}
#exit {
	right:30px;
}
.nstSlider {
	position:static;
	overflow:visible;
	margin:0;
	width:auto;
	height:auto;
	left:170px;
	top:100px;
	opacity:0.3;
	display:none;
	z-index:3;
}